@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');

$main-font:  'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    font-family: $main-font;
}

.app {
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

//Header Styling
.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 33vh;

    .search-bar {
        display: flex;
    }

    .weather-input {
        text-align: center;
        font-size: 2rem;
        background: rgba(220,220,220,.7);
        border-radius: 10rem;
        outline: none;
        border: none;
    }

    .submit-button {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        margin-left: .5rem;
        display: none;
    }

    //Slider Styling
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}

//Main Content

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(220,220,220,.7);
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;

    .location {
        font-size: 2rem;
    }

    .temp {
        font-size: 4rem;
    }
}

// Footer Styling 
.footer {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: end;
    background: rgba(220,220,220,.7);
    font-weight: 500;
    height: 20vh;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
            margin: .5rem;
        }
    }
}

// Media Queries 

@media only screen and (max-width: 768px) {
  .header .weather-input {
    width: 200px;
    font-size: 1.5rem;
  }

  .main-content {
    font-size: 1.1rem;

    .location {
      font-size: 1.5rem;
    }

    .temp {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .main-content {
    grid-column: 1 / -1;
    margin: 0rem 4rem;
  }

  .footer .info {
    font-size: .8rem;
  }
}